
* {
  font-family: 'Oswald', sans-serif !important;
}
body {
    background-color: #337ab7;
}
.title {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #eee;
}

.dependent-form {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 5px;
}

.more-info-container {
	margin-top: 150px;
}
