<div class="container">
	<div class="page-header text-center">
		<h1>Benefit Calculator for Your Employees</h1>
  	</div>

	<div class="jumbotron">
		<h3>Use this interface to calculate the blah blah blah</h3>

		<div class="ewrapper">
			<input type="text" name="employeeName" class="form-control" placeholder="Employee Name" ng-model="employee.name" required>
			<button type="submit" class="btn btn-primary" role="button" ng-click="addEmployee()">Add Employee</button>
			<button type="submit" class="btn btn-basic" role="button" ng-click="removeEmployee()">Remove Employee</button>
		</div>
	
	</div>