<div class="text-center title">
	<h1>Here's the damage...</h1>
 </div>

<div class="container">
	<div class='jumbotron'>
	
	<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Yearly Expenses</th>
			<th>Monthly Expenses</th>
			<th>Expenses per Paycheck</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="employee in employeesArray">
			<td scope="row" ng-bind="employee.id"></td>
			<td ng-bind="employee.name"></td>
			<td ng-bind="'$' + getEmployeeTotalCost(employee, 'yearly')"></td>
			<td ng-bind="'$' + getEmployeeTotalCost(employee, 'monthly')"></td>
            <td ng-bind="'$' + getEmployeeTotalCost(employee, 'paycheck')"></td>

		</tr>

		<tr class="table-dark">
        <th>TOTAL</th>
        <th scope="row"></th>
        <th ng-bind="'$' + getYearlyEmployerExpenses"></th>
        <th ng-bind="'$' + getMonthlyEmployerExpenses"></th>
        <th ng-bind="'$' + getPaycheckEmployerExpenses"></th>
      </tr>

	</tbody>


	</table>

</div>
</div>